:root{
  --red-100: #e01313;
  --red-200: #ee4d4d;

  --gray-100: #151515;
  --gray-300: #a6a6a6;
  --gray-600: #8a8888;

  --white: #ffffff;
  --white-100: rgb(245, 248, 250);
  
  --black: #000000;
}