.header__button{
  position: absolute;
  right: 0;

  height: 100%;
  width: 2.25rem;

  transform: translate(-50%);

  font-size: 2rem;

  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  color: var(--white);
}