version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: sm_container_mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: sm_mysql_database
      MYSQL_USER: sm_user_database
      MYSQL_PASSWORD: root_password
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
