# Database config
DATABASE=
DATABASE_USER=
DATABASE_HOST=
DATABASE_PASSWORD=
DATABASE_PORT=3306

# JWT SECRET
JWT_SECRET=

NODEMAILER_HOST=
NODEMAILER_PORT=465
NODEMAILER_SECURE=
NODEMAILER_USER=
NODEMAILER_PASSWORD=